<!DOCTYPE html>
<html lang="en">
<head>
    <partial name = "Partial/head.cshtml" />
</head>
<body>
    <header>
    @RenderSection("Background", required: false)
        <partial name = "Partial/header.cshtml" />
    </header>
        <main role="main">
            @RenderBody()
        </main>

    <footer>
        <partial name = "Partial/footer.cshtml" />
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
